<div class="jumbotron">
	<div class="media">
		<div class="media-left">
			<img src="{{contact.picture}}" class="img-rounded" width="150" height="150" />
		</div>
		<div class="media-body">
			<h1 class="media-heading">{{contact.name.first}} {{contact.name.last}}</h1>
			<p>{{contact.company}}</p>
		</div>
	</div>
</div>

<dl class="dl-horizontal">
	<div ng-if="contact.email">
		<dt>Email</dt>
		<dd>{{contact.email}}</dd>
	</div>

	<div ng-if="contact.phone">
		<dt>Phone</dt>
		<dd>{{contact.phone}}</dd>
	</div>

	<div ng-if="contact.address">
		<dt>Address</dt>
		<dd class="with-linebreaks">{{contact.address}}</dd>
	</div>
</dl>

<div class="well" ng-if="contact.note"><p class="with-linebreaks">{{contact.note}}</p></div>

<div class="action-buttons">
	<button type="button" class="btn btn-default" ng-click="new()">Add new</button>

	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default" ng-click="edit()">Edit</button>
		<button type="button" class="btn btn-default">Export</button>
	</div>
</div>